<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>About us</title>

  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Your Next Career Step at Tayril GmbH</h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-12">
          {% include 'paragraph.html' %}
          </div>
        </div>
      <div class="text-center">
      <a href="mailto:hello@jovian.ai?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20questions%3A%20%3Center%20question(s)%20here%3E" class="btn btn-primary btn-lg">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>